#projects {
  min-height: 100vh;
  width: 100%;
  background: black;
  padding: 100px 300px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  perspective: 1000px;
}

/* Media querys para tablets*/

@media (max-width:1400px) {
  #projects {
    padding: 100px 100px !important;
  }
}


/* Media querys para Celulares*/

@media (max-width:1080px) {
  #projects {
    padding: 50px 20px !important;
  }
}