/* Estilos de contenedor de logo */
.header__contenedor-logo .header__logo {
  display: flex;
  align-items: center;
  transition: all ease .1s;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}

/* Estilos de sigla "AB" */
.logo {
  color: #ffffff;
  font-weight: 500;
  font-size: 2.5rem;
  transition: all ease .2s;
}

/* Estilos de signos de mayor y menos */
.signo {
  color: #0068B4;
  font-weight: 300;
  font-size: 2rem;
  transition: all ease .2s;
}

/* Animacion */

@media (max-width:1000px) {
  .logo {
    color: #ffffff;
    font-weight: 500;
    font-size: 2rem;
    transition: all ease .2s;

  }

  .signo {
    color: #0068B4;
    font-weight: 300;
    font-size: 1.2rem;
    transition: all ease .2s;
  }
}