
@keyframes movimiento {
  50% {
    transform: translate(1097px);
  }

  100% {
    left: -1097;
  }
}

/* Estilos de contendio */
.sectionHome__Contenedor {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15rem;
  height: 95vh;
}

/* Estilos de contenido de la izquierda */
.sectionHome__contenido-izquierda {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* Estilos de texto de bienvenida */
.sectionHome__contenedor-texto-bienvenida {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Estilos de titulo de bienvenida */
.sectionHome__titulo {
  font-size: 3.5rem;
  color: white;
  font-weight: 500;
  margin-left: -7px;
  transition: all ease .2s;

  &:hover {
    transform: scale(1.02);
  }
}

/* Estilos de subtitulo de bienvenida */
.sectionHome__subtitulo {
  color: #0096E8;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all ease .2s;

  &:hover {
    transform: scale(1.02);
  }
}

.sectionHome__descripcion {
  width: 60%;
  color: white;
  font-weight: 100;
  transition: all ease .2s;

  &:hover {
    transform: scale(1.02);
  }
}

/* Estilos de los primeros botones */

.sectionHome__primeros-botones {
  display: flex;
  gap: 1.5rem;
}

.boton {
  height: 3rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 1px solid #0095ff8a;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.boton-cv {
  background-color: #0a3a5d50;

  &:hover {
    background-color: #104c7750
  }
}

.boton-contactame {
  &:hover {
    background-color: #07253a50
  }
}

/* Estilos de segunda linea de botones */
.sectionHome__segundos-botones {
  display: flex;
  align-items: flex-end;
  gap: 3rem;

  & .icon {
    transform: scale(1.3);
    cursor: pointer;
    transition: all ease .2s;

    &:hover {
      transform: scale(1.4);
    }
  }
}

/* Estilosd de contendio de la derecha */
.sectionHome__contenido-derecha {
  & img {
    width: 300px;
    filter: drop-shadow(0px 0px 20px #0095ff49);
    transition: all ease-in .2s;
    animation: aparicionConEscala .5s linear;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (max-width:1250px) {
  .sectionHome__Contenedor {
    margin: 0 3rem;
  }
}

@media (max-width:1000px) {
  .sectionHome__Contenedor {
    margin: 0 15px;
  }
}

@media (max-width:800px) {
  .sectionHome__Contenedor {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .sectionHome__contenido-izquierda {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  /* Estilos de texto de bienvenida */
  .sectionHome__contenedor-texto-bienvenida {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.7rem;
  }

  /* Estilos de titulo de bienvenida */
  .sectionHome__titulo {
    font-size: 2.3rem;
    text-align: center;
  }

  /* Estilos de subtitulo de bienvenida */
  .sectionHome__subtitulo {
    color: #0096E8;
    font-size: 1rem;
    text-align: center;
  }

  .sectionHome__descripcion {
    width: 75%;
    font-size: 1rem;
    text-align: center;
  }
  .sectionHome__contenido-derecha {
  & img {
    width: 200px;
    margin-bottom: 2rem;
  }
  .sectionHome__segundos-botones {
    gap: 2rem;
  }
}

}

@keyframes aparicionConEscala {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}