.section__list-tecnology-container {
  display: flex;
  gap: 1rem;
  width: auto;
  flex-wrap: wrap;
}

.list-tecnology__title {
  color: white;
  font-size: calc(11px + 0.2vw);
  font-weight: 300;
}

@media (max-width:1000px) {
  .section__list-tecnology-container {
    justify-content: center;
  }
}