.card-tecnology {
  position: relative;
  perspective: 1000px;
}

.card-tecnology .content-rotate {
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(204, 204, 204, 0.705);
  text-align: center;
  font-weight: 800;
  width: 100%;
  height: 100%;
  min-width: 150px !important;
  padding: 1rem 0;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
  background-color: #0095ff17;
  border: 1px solid #0095ff8a;

  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: transform 0.6s ease, opacity 0.3s ease;
}


.card-tecnology:hover {
  & .card-tecnology__container {
    transform: rotateY(180deg);
    opacity: 0;
  }

  & .content-rotate {
    transform: rotateY(360deg);
    opacity: 1;
  }
}

.card-tecnology__container {
  border-radius: 20px;
  z-index: 1;
  min-width: 150px !important;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: #0095ff17;
  border: 1px solid #0095ff8a;
  backdrop-filter: blur(8px);
  opacity: 1;
  transition: all ease .3s;
}

.card-tecnology__container:not(:hover) {
  background-color: #0095ff09;
  opacity: 0.8;
}

.card-tecnology__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.card-tecnology__img-container img {
  width: 60px;
}

.card-tecnology__title {
  color: white;
  font-size: calc(10px + 0.1vw);
  font-weight: 900;
  white-space: nowrap;
}