.sectionSobreMi__contenedor{
  width: calc(100% - 30rem);
  margin: 0 15rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sectionSobreMi__contenedor-secundario{
  width: 100%;
  height: 600px;
  background-color: #00294018;
  border-radius: 10px;
  border: 1px solid #00a6ff2f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.sectionSobreMi__contendor-imagen img{
  height: 600px;
  transform: rotateY(180deg);
}

.sectionSobreMi__contenedor-textos{
  width: 50%;
  & .sectionSobreMi__lista{
    color: white;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    & li{
      & h2{
        font-weight: 500;
      }
      & p{
        font-weight: 200;
      }
    }

  }
}



