* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {

  background-color: #000000;
  /* Color de fondo oscuro */
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.07) 1px, transparent 1px),
    /* Líneas horizontales */
    linear-gradient(90deg, rgba(255, 255, 255, 0.07) 1px, transparent 1px);
  /* Líneas verticales */
  background-size: 250px 250px;
  /* Tamaño de la cuadrícula */
}

/* Títulos */
* {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  letter-spacing: -0.03em;
  line-height: 1.1;
}

/* Media querys para Celulares*/

@media (max-width:900px) {
  body {

    background-color: #000000;
    /* Color de fondo oscuro */
    background-image:
      linear-gradient(rgba(255, 255, 255, 0.103) 1px, transparent 1px),
      /* Líneas horizontales */
      linear-gradient(90deg, rgba(255, 255, 255, 0.103) 1px, transparent 1px);
    /* Líneas verticales */
    background-size: 150px 150px;
    /* Tamaño de la cuadrícula */
  }
}