/* Estilos de Contenedor principal */

.header-container {
  width: auto;
  width: 100%;
  padding: 10px 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00000034;
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

.btn-rigth-container-show {
  display: none !important;
}

.btn-rigth-container-hidden {
  display: flex;
}

/* Estilos del logo */

.header__logo-container img {
  width: 50px;
  height: 50px;
  padding: 5px 5px 5px 0;
}

/* Estilos de nav-bar */
.nav-bar-container .nav-bar__list-container {
  display: flex;
  gap: 20px;
}

.nav-bar__item {
  color: rgba(255, 255, 255, 0.74);
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1.5px solid rgba(0, 0, 0, 0);
  transition: all ease .2s;
}

.nav-bar__item:hover {
  background-color: rgba(0, 238, 255, 0.158);
  color: rgb(0, 238, 255);
  border-color: rgb(0, 238, 255);
}

/* Botones de la derecha */
.btn-rigth-container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* Btn hamburguesa */
.btn-hamburger {
  color: white;
  display: none;
}

/* Media querys para tablets*/

@media (max-width:1400px) {
  .header-container {
    padding: 0 100px;
  }
}

/* Media querys para celulares*/

@media (max-width:1080px) {
  .header-container {
    padding: 0 20px;
  }

  .nav-bar-container {
    display: none;
  }

  /* Btn hamburguesa */
  .btn-hamburger {
    color: white;
    display: block;
  }

  .desplegar {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.938);
    z-index: -1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animarNavBar 0.3s linear;

    & ul {
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      & a li {
        font-size: calc(20px + 1vw);
      }
    }
  }

  .btn-rigth-container-show {
    display: flex !important;
  }

  .btn-rigth-container-hidden {
    display: none !important;
  }
}