.section__list-all-skills-container {
  margin: 0 15rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 100vh;
  position: relative;
  padding: 3rem 0;
}

/* Ellipse 2 */

@keyframes movimiento {
  50% {
    left: -1097;
  }

  100% {
    transform: translate(10px);
  }
}

@media (max-width:1250px) {
  .section__list-all-skills-container {
    margin: 0 3rem;
  }
}

@media (max-width:1000px) {
  .section__list-all-skills-container {
    padding: 0 15px;
    margin: 0 0px;
  }
}