/* Estilos de contenedor de la lista */
.navbar__contenedor .navbar__contenedor-lista {
  display: flex;
  gap: 2rem;
}

/* Estilos de cada ítem de la lista */

.navbar__contenedor-lista-item {
  position: relative;
  color: white;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all ease .3s;
  border-radius: 5px;

  /* Estilos para cuando esté activo un item */
}

.budge{
  display: none;
  width: 8px;
  height: 8px;
  background-color: #0093fc65;
  border-radius: 50%;
}
.navbar__contenedor-lista-item.active {
  border: 1px solid #0093fc65;

  & .budge{
    display: block;
  }
}
.navbar__contenedor-lista-item.not-active:hover{
  border: 1px solid #00528d44;
}

/* Mediquerys para pantallas de 1250px */
@media (max-width:1250px) {
  .header__contenedor {
    padding: 0rem 5rem;
  }
}

@media (max-width:1000px) {
  .navbar__contenedor {
    display: none;
  }

  /* Estilos para el contenedor de la lista */
  .navbar__contenedor--open {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: animarAparicion 0.5s ease forwards;

    & .navbar__contenedor-lista {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #00121ff8;
      backdrop-filter: blur(5px);
      width: 100%;

      & .navbar__contenedor-lista-item {
        font-size: 1.5rem;
      }
    }
  }
}

/* Animacion de borde de boton */
@keyframes animarBorde {
  0% {
    border-image: linear-gradient(to right, #32aaffe3, #002d4d) 1;
  }

  50% {
    border-image: linear-gradient(to left, #32aaffe3, #002d4d) 1;
  }

  100% {
    border-image: linear-gradient(to right, #32aaffe3, #002d4d) 1;
  }
}

/* Animacion de aparicion */
@keyframes animarAparicion {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}