/* Contenedor */
  .btn-hamburguesa{
    z-index: 33;
    width: 50px;
    height: 40px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    z-index: 999;
    cursor: pointer;
    border: 1px solid #0069b44f;
    cursor: pointer;
    padding: 10px;
    background-color: #0a3a5d1a;
    transition: all ease .3s;
    border-radius: 5px;
    margin: 0 0.5rem;
    &:hover{
      background-color: #0a3a5d36;
    }
  }
  /* Animaciones para el boton */
  .btn-hamburguesa.active div:nth-child(1){
    top: 18px;
    transform: rotate(45deg);
  } 
  .btn-hamburguesa.active div:nth-child(2){
    opacity: 0;
  } 
  .btn-hamburguesa.active div:nth-child(3){
    top: -18px;
    transform: rotate(-45deg);
  } 

  /* Estilos de todos los hijos */
  .btn-hamburguesa div{
    border-radius: 5px;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: all ease .2s;
    transform-origin: left;
  }
  @media (max-width:1000px) {
    .btn-hamburguesa{
      display: flex;
    }
  }