@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Fira+Code:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/* Reseteamos estilos del navegador */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', 'Cascadia Code', system-ui;
}
a{
  text-decoration: none;
  
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
li{
  margin: 0;
  padding: 0;
}
/* Color del body */
body{
  background-color: #000E19;
  overflow-x: hidden;
}
.main{
  max-width: 1400px;
  position: relative;
  overflow: hidden;
}

/* Animaciones */

@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }100%{
    transform: rotate(360deg);
  }
}

#inicio,
#sobre,
#proyectos,
#habilidades,
#contacto {
  scroll-margin-top: 80px;
}